@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: youtube sans;
	font-style: normal;
	font-weight: 500;
	src: local("YouTube Sans"), url("/fonts/YouTubeSansSemibold.woff") format("woff");
}

/* Global */
body {
	height: 100vh;
	margin: 0;
	padding: 0;
	background-color: #111;

	font-family: "YouTube Sans", sans-serif;
	font-display: swap;

	scroll-behavior: smooth;
}
.icon {
	@apply w-5 h-5;
}
/* Navbar */
.top-nav {
	z-index: 9999;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px 0;
	text-align: center;
}
.top-nav a {
	margin: 0 20px;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	position: relative;
	transition: color 0.3s;
}
.top-nav a:hover {
	color: orange;
}
.top-nav a::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #ffcc00;
	bottom: -5px;
	left: 0;
	transform: scaleX(0);
	transform-origin: center;
	transition: transform 0.3s;
}
.top-nav a:hover::before {
	transform: scaleX(1);
}
/* Header */
.header {
	background: url("/images/background.webp") no-repeat center center;
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	text-align: center;
	background-size: cover;
	padding: 100px 0;
	color: #fff;
	position: relative;
}
.social-links {
	margin-top: 20px;
}
.social-links a {
	margin: 0 10px;
	color: #fff;
	font-size: 24px;
}
.about-section {
	background-color: #222;
	padding: 40px;
	color: #fff;
}
.about-section h2 {
	margin-bottom: 20px;
}
@media (min-width: 768px) {
	.custom-left-indent {
		margin-left: 200px;
	}
}
/* Bottom arrow button to scroll down/up */
.scroll-down-btn {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 36px;
	color: #fff;
	animation: moveArrow 1s infinite;
}
.scroll-down-btn:hover {
	color: orange;
}
.scroll-down-btn i {
	font-size: 36px;
	opacity: 0.7;
}
@keyframes moveArrow {
	0%,
	100% {
		transform: translateX(-50%) translateY(0);
		opacity: 0;
	}
	50% {
		transform: translateX(-50%) translateY(10px);
		opacity: 1;
	}
}
/* up */
.scroll-up-btn {
	visibility: hidden;
	opacity: 0;
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%) translateY(-500%) rotate(0deg);
	font-size: 36px;
	color: #fff;
	transition: all 1s;
}
.scroll-up-btn:hover {
	color: orange;
}
.scroll-up-btn i {
	font-size: 36px;
	opacity: 0.7;
}
.upstate {
	visibility: visible !important;
	opacity: 1 !important;
	transform: translateX(-50%) translateY(0) rotate(360deg);
}
/* Showcase section */
.section-showcase {
	background-color: #272727;
	padding: 40px;
	color: #fff;
}
/* .section-showcase h2 {
  margin-bottom: 20px;
}
.section-showcase img {
  width: 100%;
  height: auto;
  max-height: 360px;
  object-fit: cover;
} */
/* Showcase fade animations */
.move {
	opacity: 0;
	transform: translateY(100%);
	transition: all 1s;
}
.fade {
	transform: translateX(0);
	opacity: 1 !important;
}
/* Footer */
#footer,
footer a,
footer a:visited,
footer a:hover,
footer a:active {
	text-decoration: none;
	color: inherit;
}
